<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="SWsoft.SiteBuilder">
      <section requirePermission="false" name="Modules.Storage" type="SWsoft.SiteBuilder.Modules.Storage.Common.StorageSettings, SiteBuilder.Modules.Storage.Common" allowLocation="true" allowDefinition="Everywhere" />
      <section requirePermission="false" name="AdditionalContent" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="ajaxNet">
      <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler, AjaxPro.2" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SiteTitle" value="heimburgerandfries.com" />
    <add key="Title" value="" />
    <add key="SiteKeywords" value="" />
    <add key="SiteDescription" value="" />
    <add key="CompanyName" value="Up and Running" />
    <add key="CompanyUrl" value="" />
    <add key="CompanySlogan" value="" />
    <add key="Copyright" value="" />
    <add key="LOGO" value="logo.gif" />
    <add key="templateId" value="av-234" />
    <add key="headerId" value="headers1" />
    <add key="buttonId" value="buttons1" />
    <add key="userModifiedDesign" value="True" />
    <add key="pageSetName" value="Minimal" />
    <add key="familyId" value="56117466-2253-4a50-8d80-4ac678870795" />
    <add key="SiteId" value="cf7b4ad9-a1ed-4ff0-9a75-406cd4181859" />
    <add key="RepositoryVersion" value="3.2.215" />
  </appSettings>
  <SWsoft.SiteBuilder>
    <Modules.Storage ConnectionString="provider=Microsoft.Jet.OLEDB.4.0" StorageId="TestSite" />
    <AdditionalContent>
      <add key="counter" value="&lt;img src=&quot;SiteBuilder.Modules.Statistics.ashx&quot; /&gt; &lt;br /&gt;" />
    </AdditionalContent>
  </SWsoft.SiteBuilder>
  <system.web>
    <customErrors defaultRedirect="Error.aspx" mode="On">
      <error statusCode="404" redirect="Error404.aspx" />
    </customErrors>
    <webServices>
      <soapExtensionTypes>
        <clear />
        <add group="High" priority="1" type="SWsoft.SiteBuilder.Modules.Storage.Connector.WebServices.ServiceSecurity.SecuritySoapExtension, SiteBuilder.Modules.Storage.Connector" />
      </soapExtensionTypes>
    </webServices>
    <pages masterPageFile="~/default.master" theme="green" pageBaseType="SWsoft.SiteBuilder.Modules.WebControls.PublishedPage, SiteBuilder.Modules.WebControls">
      <controls>
        <add tagPrefix="SiteBuilder" namespace="SWsoft.SiteBuilder.WebControls" assembly="Site.Helpers" />
        <add tagPrefix="SiteBuilder" namespace="SWsoft.SiteBuilder.Modules.WebControls" assembly="SiteBuilder.Modules.WebControls" />
      </controls>
    </pages>
    <compilation debug="false" defaultLanguage="c#">
      <expressionBuilders>
        <add expressionPrefix="CompanyInfo" type="SWsoft.SiteBuilder.Site.Helpers.CompanyInfoExpressionBuilder, Site.Helpers" />
      </expressionBuilders>
    </compilation>
    <httpHandlers>
      <add verb="GET" path="*.css" type="SWsoft.SiteBuilder.Site.Helpers.StaticContentHandler, Site.Helpers" />
      <add verb="GET" path="*.jpeg" type="SWsoft.SiteBuilder.Site.Helpers.StaticContentHandler, Site.Helpers" />
      <add verb="GET" path="*.jpg" type="SWsoft.SiteBuilder.Site.Helpers.StaticContentHandler, Site.Helpers" />
      <add verb="GET" path="*.gif" type="SWsoft.SiteBuilder.Site.Helpers.StaticContentHandler, Site.Helpers" />
      <add verb="GET" path="*.png" type="SWsoft.SiteBuilder.Site.Helpers.StaticContentHandler, Site.Helpers" />
      <add verb="GET" path="*.bmp" type="SWsoft.SiteBuilder.Site.Helpers.StaticContentHandler, Site.Helpers" />
      <add verb="GET" path="default.old" type="SWsoft.SiteBuilder.Site.Helpers.DefaultPageHandler, Site.Helpers" />
      <add verb="*" path="SiteBuilder.Modules.Statistics.ashx" type="SWsoft.SiteBuilder.Modules.Statistics.StatisticsHandler, SiteBuilder.Modules.Statistics" />
      <add verb="*" path="default.aspx" type="SWsoft.SiteBuilder.Modules.FlashIntro.FlashIntroHandler, SiteBuilder.Modules.FlashIntro" />
      <add verb="*" path="ImageGalleryHandler.ashx" type="SWsoft.SiteBuilder.Modules.ImageGallery.ImageGalleryHandler, SiteBuilder.Modules.ImageGallery, Version=3.2.215.20003, Culture=neutral, PublicKeyToken=null" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorHandler" type="SWsoft.SiteBuilder.Site.Helpers.ErrorHandlerModule, Site.Helpers" />
    </httpModules>
    <authorization>
      <allow users="*" />
    </authorization>
    <machineKey decryptionKey="48643494647822256876486535956578222468761834567F" />
    <membership defaultProvider="StorageProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="StorageProvider" type="SWsoft.SiteBuilder.Modules.Storage.StorageMembershipProvider, SiteBuilder.Modules.Storage" enablePasswordRetrieval="true" enablePasswordReset="true" passwordFormat="Encrypted" requiresQuestionAndAnswer="false" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
    <profile configSource="App_Data\profile.config">
    </profile>
    <roleManager enabled="false" />
    <globalization uiCulture="en" culture="en-US" />
    <siteMap>
      <providers>
        <add name="ImageGallery" type="SWsoft.SiteBuilder.Modules.ImageGallery.Map.ImageGalleryMapProvider, SiteBuilder.Modules.ImageGallery, Version=3.2.215.20003, Culture=neutral, PublicKeyToken=null" title="Image Gallery" description="The image gallery allows you to store and display various images." keywords="" moduleType="SWsoft.SiteBuilder.Modules.ImageGallery.ImageGallery, SiteBuilder.Modules.ImageGallery, Version=3.2.215.20003, Culture=neutral, PublicKeyToken=null" version="1" GUID="3eef5943-3fc7-4caf-bc02-2b5e4b270375" MaxImageItems="10" MaxCategoryItems="5" DesignTimeUrl="http://172.16.2.17:2006/Sites/cf7b4ad9-a1ed-4ff0-9a75-406cd4181859/" />
      </providers>
    </siteMap>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="win@lunarpages.com">
        <network host="localhost" port="25" defaultCredentials="false" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
  <ajaxNet>
    <ajaxSettings>
      <jsonConverters>
        <add type="ControlConverter, AjaxHelpers" />
        <add type="ColorConverter, AjaxHelpers" />
        <add type="UnitConverter, AjaxHelpers" />
        <add type="FontConverter, AjaxHelpers" />
        <add type="FontSizeConverter, AjaxHelpers" />
        <add type="FontStyleConverter, AjaxHelpers" />
        <add type="BorderStyleConverter, AjaxHelpers" />
        <add type="TableItemStyleConverter, AjaxHelpers" />
        <add type="DateTimeCorrectConverter, AjaxHelpers" />
      </jsonConverters>
    </ajaxSettings>
  </ajaxNet>
</configuration>