<?xml version="1.0"?>
<profile enabled="true" defaultProvider="StorageProfileProvider">
  <providers>
    <clear />
    <add name="StorageProfileProvider" type="SWsoft.SiteBuilder.Modules.Storage.StorageProfileProvider, SiteBuilder.Modules.Storage" />
  </providers>
  <properties>
    <add name="FirstName" />
    <add name="LastName" />
    <add name="Company" />
    <add name="Phone" />
    <add name="Address1" />
    <add name="Address2" />
    <add name="Country" />
    <add name="City" />
    <add name="State" />
    <add name="Zip" />
  </properties>
</profile>